
<div class="container">
  
  <% # debugger %>
  <div class="mt-4 mb-3">
    <h1 class="text-center my-3 text-white">Org: <%= Organization.find(@user.organization_id).name %></h2>
    <h2 class="text-center my-3 text-white">Account: <%= @user.email %></h2>
  </div>

  <div class="">    
    <!-- <div class="card card-header results-block mt-3"> -->
    <div class="">
      <!-- <%= gravatar_for @user, size: 300 %> -->

      <div class="img-responsive center-block">      
        <% if current_user.avatar.present? %>  
          <%= image_tag @user.avatar, width: "200", class: "mx-auto d-block" %>
        <% else %>
          <h1 class="text-center my-5"> No Avatar </h1>
        <% end %>
      </div>

      <div class="my-3 text-center">
        <table class="col-md-12">
          <tbody>
            <tr>
              <td>
                <span class="">
                  <h4 class="text-center mt-2 my-0"><%= fa_icon 'user 1x' %> <%= @user.email %></h4>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="">
                  <h4 class="text-center mt-2 my-0">username: <%= @user.username %></h4>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <%= render 'shared/profile_gallery' %>

    </div>
  </div>
  
</div>

