<div id="<%= dom_id organization %>">
  <div class="card card-header" style="width: 19rem;">
    <div class="card-body">
      <h5 class="card-title mt-2">Org: <%= organization.name %></h5>

      <div class="img-responsive center-block">      
        <% if organization.logo.present? %>  
          <% # debugger %>
          <%= image_tag organization.logo, width: "200", class: "mx-auto d-block" %>
        <% else %>
          <h1 class="text-center my-5"> No Logo </h1>
        <% end %>
      </div>

      <h5 class="card-title mt-2">domain: <%= organization.domain %></h5>
      <h5 class="card-title mt-2 mb-4">subdomain: <%= organization.subdomain %></h5>
      <% if organization.active_org %>
        <p class="card-text">Active</p>
      <% else %>
        <p class="card-text">Inactive</p>
      <% end %>
    </div>
  </div>
</div>


